@use './container';
@use '../variables/colors';

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-wrap: break-word;
  border-radius: 16px;
  background: url('../../../src/assets/dawid-zawila--G3rw6Y02D0-unsplash.jpg')
    fixed center;
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
  }
  &__pin {
    padding: 5px 7px 5px 9px;
    margin: 0 10px 0 0;
    border-radius: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    width: fit-content;
    background-color: colors.$primary-light;
    p,
    a {
      color: colors.$primary-dark;
    }
  }
  &__content--top {
    display: flex;
    flex-direction: row;
  }
  //for loop to place items on grid and giving mask color
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      grid-area: card#{$i};
      .card__overlay {
        background: rgba(225 - 25 * $i, $i * 40, $i * 44, 0.2);
      }
    }
  }
  &--big {
    @extend .card;
    height: 50vh;
    margin: 0 0 50px 0;
    background-position: center left;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        .card__overlay {
          background: rgba(50, $i * 50, $i * 66, 0.4);
        }
      }
    }
    &:last-child {
      margin: 0;
    }
  }
  &:hover {
    background-size: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .card {
    font-size: smaller;
  }
  .card-big {
    height: 25vh;
    margin: 0 0 5px 0;
    &:last-child {
      margin: 0;
    }
  }
  .card__content--bottom p {
    display: none;
  }
}
