.container--small {
  min-height: 40vh;
  display: grid;
  gap: 15px;
  grid-template-areas:
    'card1 card2 card3'
    'card1 card4 card5';
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(auto, 1fr));
}
.container--big {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .container--small {
    gap: 5px;
    grid-template-areas:
      'card1 card2'
      'card1 card3'
      'card1 card4'
      'card1 card5';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(auto, 1fr));
  }
}
