@use '../variables/colors';

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin-bottom: 5px;
      li {
        padding: 5px;
        a:hover {
          color: colors.$primary-accent;
        }
      }
    }
  }
  p {
    font-size: smaller;
    color: colors.$secondary-dark;
  }
}
