@use '../variables/colors';
@use '../variables/fonts';

.email-form {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__wrapper {
    max-width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 3em;
      margin: 0 0 50px 0;
    }
    .typewriter {
      font-size: 1.5em;
      margin: 0 0 50px 0;
      overflow: hidden;
      border-right: 0.15em solid colors.$primary-accent;
      white-space: nowrap;
      // margin: 0 auto;
      animation: typing 5s steps(40) alternate infinite,
        blink-caret 0.75s step-end infinite;

      @keyframes typing {
        from {
          width: 0%;
        }
        to {
          width: 15em;
        }
      }
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: colors.$primary-accent;
        }
      }
    }
    input {
      margin: 0 0 50px 0;
      width: 50%;
      background-color: colors.$primary-dark;
      border: none;
      border-bottom: solid 2px colors.$primary-light;
      text-align: center;
      transition: 0.3s ease-in-out;
      font-size: larger;
      &:focus {
        width: 75%;
        outline: none;
      }
    }
    button {
      border: none;
      font-weight: bold;
      font-size: 1.5em;
      text-transform: uppercase;
      padding: 30px 15px;
      border-radius: 16px;
      background-color: colors.$secondary-dark;
      &:hover {
        color: colors.$secondary-dark;
        background-color: colors.$primary-accent;
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .email-form h2 {
    font-size: 1.5em;
  }
  .email-form__wrapper .typewriter {
    font-size: 1em;
  }
}
