@use '../variables/colors';
header {
  // padding: 10px;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-around;

  .brand a img {
    max-height: 2em;
  }

  nav {
    display: flex;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
    }
    li {
      // display: flex;
      margin: 0 10px;
      // align-items: center;
      color: colors.$primary-light;
      a {
        display: flex;
        align-items: center;
        height: 100%;
        @media only screen and (min-width: 800px) {
          &:hover::before {
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: colors.$secondary-dark;
            position: absolute;
            top: 45px;
          }
          &:focus::after {
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            top: 45px;
            background-color: colors.$primary-accent;
          }
        }
        .fa-solid {
          margin-left: 10px;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  header {
    justify-content: space-between;
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 4em;
      top: 3em;
      overflow: hidden;
      background-color: colors.$secondary-dark;
      box-shadow: 5px 5px 5px colors.$primary-dark;
      border-radius: 16px;
      li {
        margin: 0;
        display: flex;
        justify-content: right;
        a {
          display: flex;
          justify-content: right;
          width: 100%;
          padding: 15px 15px 15px 75px;
          &:hover {
            background-color: colors.$primary-accent;
          }
        }
        &:last-child {
          background-color: colors.$primary-light;
          a {
            color: colors.$primary-dark;
            &::before {
              content: 'Search';
            }

            i {
              color: colors.$primary-dark;
            }
          }
        }
      }
      &:target {
        display: block;
      }
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .bar1,
    .bar2,
    .bar3 {
      width: 30px;
      height: 5px;
      background-color: colors.$primary-light;
      border-radius: 16px;
      display: inline-block;
    }
    &--close {
      @extend .burger-menu;
      left: 30px;
      position: relative;
      margin: 15px 15px 15px 0;
      .bar1 {
        transform: rotate(-45deg);
        position: absolute;
      }
      .bar2 {
        display: none;
      }
      .bar3 {
        transform: rotate(45deg);
        position: absolute;
      }
    }
  }
}
