.container--small {
  min-height: 40vh;
  display: grid;
  gap: 15px;
  grid-template-areas: "card1 card2 card3" "card1 card4 card5";
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(auto, 1fr));
}

.container--big {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .container--small {
    gap: 5px;
    grid-template-areas: "card1 card2" "card1 card3" "card1 card4" "card1 card5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(auto, 1fr));
  }
}
.card, .card--big {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-wrap: break-word;
  border-radius: 16px;
  background: url("../../../src/assets/dawid-zawila--G3rw6Y02D0-unsplash.jpg") 50% 15%;
}
.card:nth-child(1), .card--big:nth-child(1) {
  grid-area: card1;
}
.card:nth-child(1) .card__overlay, .card--big:nth-child(1) .card__overlay {
  background: rgba(200, 40, 44, 0.2);
}
.card:nth-child(2), .card--big:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(2) .card__overlay, .card--big:nth-child(2) .card__overlay {
  background: rgba(175, 80, 88, 0.2);
}
.card:nth-child(3), .card--big:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(3) .card__overlay, .card--big:nth-child(3) .card__overlay {
  background: rgba(150, 120, 132, 0.2);
}
.card:nth-child(4), .card--big:nth-child(4) {
  grid-area: card4;
}
.card:nth-child(4) .card__overlay, .card--big:nth-child(4) .card__overlay {
  background: rgba(125, 160, 176, 0.2);
}
.card:nth-child(5), .card--big:nth-child(5) {
  grid-area: card5;
}
.card:nth-child(5) .card__overlay, .card--big:nth-child(5) .card__overlay {
  background: rgba(100, 200, 220, 0.2);
}
.card__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}
.card__pin {
  padding: 5px 7px 5px 9px;
  margin: 0 10px 0 0;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  width: fit-content;
  background-color: #ebebeb;
}
.card__pin p,
.card__pin a {
  color: #252530;
}
.card__content--top {
  display: flex;
  flex-direction: row;
}
.card--big {
  height: 50vh;
  margin: 0 0 50px 0;
  background-position: center left;
}
.card--big:nth-child(1) .card__overlay {
  background: rgba(50, 50, 66, 0.4);
}
.card--big:nth-child(2) .card__overlay {
  background: rgba(50, 100, 132, 0.4);
}
.card--big:nth-child(3) .card__overlay {
  background: rgba(50, 150, 198, 0.4);
}
.card--big:last-child {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .card, .card--big {
    font-size: smaller;
  }
  .card-big {
    height: 25vh;
    margin: 0 0 5px 0;
  }
  .card-big:last-child {
    margin: 0;
  }
  .card__content--bottom p {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #ebebeb;
}

body {
  background-color: #252530;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
header h1 {
  color: #ebebeb;
  font-family: "Courier New", Courier, monospace;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav li {
  display: flex;
  margin: 0 10px;
  align-items: center;
  color: #ebebeb;
}
nav li a {
  display: flex;
  align-items: center;
  height: 100%;
}

section {
  padding: 0 5em;
  margin: 3em 0;
}

@media only screen and (max-width: 600px) {
  section {
    padding: 0 1em;
  }
}

/*# sourceMappingURL=style.css.map */
