@use './variables/colors';
@use './variables/fonts';
@use './components/card';
* {
  margin: 0;
  padding: 0;
  font-family: fonts.$primary-font;
  text-decoration: none;
}
body {
  background-color: colors.$primary-dark;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  h1 {
    color: colors.$primary-light;
    font-family: fonts.$title-primary-font;
  }
}
nav {
  display: flex;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    display: flex;
    margin: 0 10px;
    align-items: center;
    color: colors.$primary-light;
    a {
      display: flex;
      align-items: center;
      height: 100%;
      color: colors.$primary-light;
    }
  }
}
section {
  padding: 0 5em;
  margin: 3em 0;
}
.container-small {
  min-height: 40vh;
  display: grid;
  gap: 15px;
  grid-template-areas:
    'card1 card2 card3'
    'card1 card4 card5';
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: repeat(2, minmax(auto, 1fr));
}
.card:nth-child(1) {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(4) {
  grid-area: card4;
}
.card:nth-child(5) {
  grid-area: card5;
}
.container-big {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  section {
    padding: 0 1em;
  }
  .container-small {
    gap: 5px;
    grid-template-areas:
      'card1 card2'
      'card1 card3'
      'card1 card4'
      'card1 card5';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, minmax(auto, 1fr));
  }
}
