@use './variables/colors';
@use './variables/fonts';
@use './components/card';

* {
  margin: 0;
  padding: 0;
  font-family: fonts.$primary-font;
  text-decoration: none;
  color: colors.$primary-light;
}
body {
  background-color: colors.$primary-dark;
}
header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  h1 {
    color: colors.$primary-light;
    font-family: fonts.$title-primary-font;
  }
}
nav {
  display: flex;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  li {
    display: flex;
    margin: 0 10px;
    align-items: center;
    color: colors.$primary-light;
    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}
section {
  padding: 0 5em;
  margin: 3em 0;
}
@media only screen and (max-width: 800px) {
  section {
    padding: 0 1em;
  }
}
